@model ExamenLibrosMvcCore.Models.Libro

@{
    ViewData["Title"] = "DetallesLibro";
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}

<h1>DetallesLibro</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdLibro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdLibro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Portada)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.Portada" style="width:500px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resumen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGenero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdGenero)
        </dd>
    </dl>
</div>
<div class="text-center">
    @if (carrito != null && carrito.Contains(Model.IdLibro))
    {
        <a class="btn btn-outline-success" style="width:30%"
           asp-controller="Libros"
           asp-action="Carrito">
            Añadido al Carrito✅
        </a>
    }
    else
    {
        <a asp-controller="Libros"
           asp-action="GuardarLibroCarrito"
           asp-route-idLibro="@Model.IdLibro"
           asp-route-idGenero="@Model.IdGenero"
           style="width:30%"
           class="btn btn-outline-primary">
            COMPRAR 🛒
        </a>
    }
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
